@{
    ViewBag.Title = "";
}

<style>
    body {
        background-image:url("../../code.jfif");
        background-size:30% 50%;
        color:white;
    }
    .slika {
        height: 250px;
        width: 190px;
    }
    .x{
        color:white;
        font-size:20px;
    }
    .jumbotron{
        background-color:black;
    }
</style>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>LUX'S SCHOOL</h1>
        </div>
        <div class="col-md-6">
            <img class="slika" src="~/lux.jpg" />
        </div>
        <p class="lead">Dobrodošli u Lux-ovu školu programiranja. Udobno se smjestite, upišite neki od seminara i započnite putovanje programera!</p>
    </div>
</div>

<div class="x">
<div class="row">
    <div class="col-md-6">
        <h2>ZAPOSLENIK</h2>
        <p>SAMO ZA ZAPOSLENIKE!</p>
        <p>Upiši neki od seminara i možda ćeš i ti uskoro biti jedan od njih ;)</p>
        <p><a class="btn btn-default" href="~/Zaposlenici/Prijava">Prijavi se &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>KORISNIK</h2>
        <p>Link ispod otvara mnoga vrata.</p>
        <p>Pokušaj, ne grize ;)</p>
        <p><a class="btn btn-default" href="~/Home/Index">Upiši seminar &raquo;</a></p>
    </div>
</div>
</div>